<div class="split">
  <div>
    <h2>Statuses</h2>
    <div *ngIf="filtersService.filters$ | async as filters">
      <div *ngFor="let f of filters">
        <button
          mat-raised-button
          [color]="filtersService.isActiveStatus(f.id) ? 'primary' : ''"
          (click)="filtersService.setStatus(f.id)"
        >
          {{ f.name }}
        </button>
      </div>
    </div>
  </div>
  <div>
    <h2>Products</h2>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        [formControl]="filtersService.searchControl"
        matInput
        type="text"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Page Size</mat-label>
      <mat-select [value]="filtersService.getPageSize()">
        <mat-option
          *ngFor="let ps of filtersService.pageSizeOptions"
          [value]="ps"
          (click)="filtersService.setPageSize(ps)"
          >{{ ps }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="filtersService.isActivePage(p)"
      *ngFor="let p of filtersService.pagesToShow$ | async"
      (click)="filtersService.setPage(p)"
    >
      {{ p }}
    </button>

    <div *ngIf="filtersService.productsResponse$ | async as resp">
      <app-product-tile
        *ngFor="let product of resp.products; trackBy: getById"
        [product]="product"
        [isInCart]="isInCart(product.id)"
        (addToCart)="addToCart(product.id)"
      ></app-product-tile>
    </div>
  </div>
</div>
