<div class="split">
  <div>
    <h2>Statuses</h2>
    <div *ngIf="filters$ | async as filters">
      <div *ngFor="let f of filters">
        <button
          mat-raised-button
          [color]="isActiveStatus(f.id) ? 'primary' : ''"
          (click)="setStatus(f.id)"
        >
          {{ f.name }}
        </button>
      </div>
    </div>
  </div>
  <div>
    <h2>Products</h2>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input [formControl]="searchControl" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Page Size</mat-label>
      <mat-select [value]="getPageSize()">
        <mat-option
          *ngFor="let ps of pageSizeOptions"
          [value]="ps"
          (click)="setPageSize(ps)"
          >{{ ps }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="isActivePage(p)"
      *ngFor="let p of pagesToShow$ | async"
      (click)="setPage(p)"
    >
      {{ p }}
    </button>

    <div *ngIf="productsResponse$ | async as resp">
      <app-product-tile
        *ngFor="let product of resp.products; trackBy: getProductId"
        [product]="product"
        [isInCart]="isInCart(product.id)"
        (addToCart)="addToCart(product.id)"
      ></app-product-tile>
    </div>
  </div>
</div>
